<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:a="http://schemas.android.com/apk/res/android"
      package="com.novoda.imageloadertest"
      a:versionCode="1"
      a:versionName="1.0">
    <uses-sdk a:minSdkVersion="8" />

    <application a:icon="@drawable/icon" a:label="@string/app_name" a:name=".ImageLoaderTesterApplication">
        <activity a:name=".ImageLoaderTestActivity" a:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action a:name="android.intent.action.MAIN" />
                <category a:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <provider
         	a:name=".provider.ImageLoaderTestProvider"
         	a:authorities="com.novoda.imageloadertest" />

    </application>
    
    <uses-permission a:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission a:name="android.permission.INTERNET" />
</manifest>