<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:a="http://schemas.android.com/apk/res/android"
  package="com.novoda.imageloader.acceptance" a:versionCode="1"
  a:versionName="1.0">
  <uses-sdk a:minSdkVersion="8" />
  <uses-sdk a:targetSdkVersion="8" />
  <instrumentation a:targetPackage="com.novoda.imageloader.demo"
    a:name="android.test.InstrumentationTestRunner" />
  <application a:icon="@drawable/icon" a:label="@string/app_name">
    <uses-library a:name="android.test.runner" />
  </application>
</manifest>