<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:a="http://schemas.android.com/apk/res/android"
  package="com.novoda.imageloader.demo" a:versionCode="1" a:versionName="1.0"
  xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-sdk a:minSdkVersion="8" />
  <uses-sdk a:targetSdkVersion="8" />

  <application a:icon="@drawable/icon" a:label="@string/app_name"
    a:name=".ImageLoaderDemoApplication">
    <activity a:name=".ImageLoaderDemoActivity" a:theme="@android:style/Theme.NoTitleBar">
      <intent-filter>
        <action a:name="android.intent.action.MAIN" />
        <category a:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <provider a:name=".provider.ImageLoaderDemoProvider"
      a:authorities="com.novoda.imageloaderdemo" />

    <service a:name="com.novoda.imageloader.core.service.CacheCleaner"
      a:exported="true">
      <intent-filter>
        <action a:name="com.novoda.imageloader.core.action.REDUCE_CACHE" />
      </intent-filter>
      <intent-filter>
        <action a:name="com.novoda.imageloader.core.action.CLEAN_CACHE" />
      </intent-filter>
    </service>
  </application>

  <uses-permission a:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission a:name="android.permission.INTERNET" />
</manifest>